<div class="container">

<div class="row">
  <div class="col-md-5 products">
    <h2>Company Products</h2>
    <% if @products.any? %>
      <ul>
        <% @products.each do |product| %>
          <div>
              <h4><%=link_to product.name, product_path(id: product.id) %></h4>
          </div>
        <% end %>
      </ul>
    <% else %>
      <p>No products created yet.</p>
    <% end %>
  </div>


  <div class="col-md-5">
  <h3>Most Reviewed Product: </h3>
    <% if @most_reviewed.any?%>
      <% @most_reviewed.each do |pro| %>
        <p><%=link_to pro.name, product_path(id: pro.id) %></p>
      <% end %>
    <% else %>
      <p> There are no products reviewed yet</p>
    <% end %>

  <h3>Recently Added Products: </h3>
    <% if @recently_added.any? %>
    <% @recently_added.each do |pro| %>
      <p><%=link_to pro.name, product_path(id: pro.id) %></p>
    <% end %>
    <% else %>
      <p> There are no products yet</p>
    <% end %>

  <h3>Local Products (Made in USA): </h3>
    <% if @local_products.any?%>
    <% @local_products.each do |pro| %>
      <p><%=link_to pro.name, product_path(id: pro.id) %></p>
    <% end %>
    <% else %>
      <p> There are no local products yet</p>
    <% end %>
  </div>
</div>

<br>

</div>
