<h2>Company Products</h2>


<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <div>
        <li>
          <h4><%=link_to product.name, product_path(id: product.id) %></h4>
        </li>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>No products created yet.</p>
<% end %>


<h3>Most Reviewed Product:
  <% @most_reviewed.each do |pro| %>
    <% binding.pry%>
    <%=link_to pro.name, product_path(id: pro.id) %></h3>
  <% end %>


<p><%= link_to "Create a product", new_product_path %></p>
